
.App {
  text-align: center;
  padding: 10px;
}
.keyboard{
  width: 33%;
 float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.keyboard button{
  width: 33%;

  float: left;
  font-size: xx-large;
  
  margin: 5px;
  
}
.logItem{
  font-weight: bolder;
  color:white;
  background-color: orange;
  float: left;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  border-radius:1vw;
}
.wideKey button{
  width: 40%;
 
  margin: 5px;
  
}
.button {
  width: 32%;
  margin-bottom: 2%;
  
  
  place-items: center;
  font-size:2.5vw;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
}
.button:before,.button:after {
  content: '';
  display: block;
  padding-top: 40%;
}
.row {
  flex: 33%;
  
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.counter{
  font-size: 200px;
color: white;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}
.counterPane{
  margin-left: auto;
  margin-right: auto;
  
  background-color: #528d4e;
  float: left;
  width: 60%;
  margin-left: 20px;
  margin-left: 20px;
  justify-content:center;
  align-items: center;
}
.counterFooter{
  color:white;
  padding:20px;
}
.menus{
  height: 120px;
}